# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

Options -Indexes

RewriteEngine On
RewriteBase /

ErrorDocument 403 https://localhost/public_html/
ErrorDocument 404 https://localhost/public_html/